<?xml version="1.0" encoding="utf-8"?>
<robot name="solo_12_leg">

 <link name="worldX">
  </link>

  <joint name="CHEAT_MODE_X" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="worldX" />
		<child link="worldY" />
    <axis xyz="1 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

  <link name="worldY">
  </link>

  <joint name="CHEAT_MODE_Y" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="worldY" />
		<child link="worldZ" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

  <link name="worldZ">
  </link>

  <joint name="CHEAT_MODE_Z" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="worldZ" />
		<child link="worldRZ" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

  <link name="worldRZ">
  </link>

  <joint name="CHEAT_MODE_RZ" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="worldRZ" />
		<child link="worldRX" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

  <link name="worldRX">
  </link>

  <joint name="CHEAT_MODE_RX" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="worldRX" />
		<child link="worldRY" />
    <axis xyz="1 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

  <link name="worldRY">
  </link>

  <joint name="CHEAT_MODE_RY" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="worldRY" />
		<child link="base_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://solo_12/meshes/solo12/solo_12_base.stl"/>
      </geometry>
      <material name="yellow">
        <color rgba="1.0 0.8 0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- HAA JOINT -->
  <joint name="FL_HAA" type="revolute">
    <parent link="base_link"/>
    <child link="FL_SHOULDER"/>
    <!-- joints rotates around the x-axis -->
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 0" xyz="0.2141 0.0875 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>

  <!-- SHOULDER LINK -->
  <link name="FL_SHOULDER">
    <visual>
      <origin rpy="0 0 0" xyz="0.01950 0 0"/>
      <geometry>
        <mesh filename="package://solo_12/meshes/solo12/solo12_hip_fe_fl.stl"/>
      </geometry>
      <material name="yellow">
        <color rgba="1.0 0.8 0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- HFE JOINT -->
  <joint name="FL_HFE" type="revolute">
    <parent link="FL_SHOULDER"/>
    <child link="FL_UPPER_LEG"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="-0.0195 0.014 0"/>
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>

  <!-- UPPER LEG LINK -->
  <link name="FL_UPPER_LEG">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://solo_12/meshes/without_foot/solo_upper_leg_left_side.stl"/>
      </geometry>
      <material name="yellow">
        <color rgba="1.0 0.8 0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- KFE JOINT-->
  <joint name="FL_KFE" type="revolute">
    <parent link="FL_UPPER_LEG"/>
    <child link="FL_LOWER_LEG"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0 0.03745 -0.16"/>
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>

  <!-- LOWER LEG LINK -->
  <link name="FL_LOWER_LEG">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://solo_12/meshes/without_foot/solo_lower_leg_v2_left_side.stl"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
  </link>
  
</robot>

